<section class="bg-white dark:bg-dark flex flex-col lg:flex-row justify-between items-center">
    <article class="max-w-lg lg:max-w-md">
        <h2>Sobre mi.</h2>
        <div class="space-y-4">
        <p>
            Ingeniero de Sistemas con experiencia práctica en desarrollo de
            software.
        </p>
        <p>
            He participado en proyectos donde la eficiencia, la escalabilidad y la
            experiencia de usuario han sido fundamentales, lo que me ha permitido
            crecer tanto en lo profesional como en lo creativo.
        </p>
        </div>
    </article>

    <hr class="max-w-lg w-lg lg:w-0 border-t lg:border-l h-full border-gray-200 my-6" />

    <article class="max-w-lg lg:max-w-[24rem] space-y-4">
        <div class="space-y-1">
            <h3>Software & Tecnología</h3>
            <p>
                Creo aplicaciones funcionales y escalables, manejo de bases de datos y
                buenas prácticas de desarrollo. Mi objetivo es construir soluciones
                digitales seguras y eficientes.
            </p>
        </div>
        <div class="space-y-1">
            <h3>Diseño & Experiencia de Usuario</h3>
            <p>
                Tengo afinidad por el diseño gráfico y especial interés en UX/UI. Esto
                me permite crear interfaces claras y atractivas que mejoran la
                experiencia del usuario y conectan mejor con sus necesidades.
            </p>
        </div>
    </article>
</section>
