<section class="space-y-8">
    <div class="flex items-center my-4">
        <div class="flex-grow border-t border-primary"></div>
        <span class="px-3 text-primary text-sm">Contactame.</span>
        <div class="flex-grow border-t border-primary"></div>
    </div>
    <h2 class="text-center">¿Tienes algún proyecto en mente? Escríbeme.</h2>
    <div class="w-full flex justify-center">
        <button class="border border-primary !px-12">Escribeme</button>
    </div>
</section>
