---
import Socials from '@/components/Socials.astro';
---
<footer class="flex justify-between items-center text-xs text-text-color dark:text-white">
    <img src="/assets/iso_DevCast.svg" alt="isoLogo de DevCast" class="h-12"/>
    <p>© 2025 - Eduardo Castilla</p>
    <Socials/>
</footer>