---
    import Socials from '@/components/Socials.astro';
---

<section id="home" class="scroll-mt-24 lg:min-h-[calc(100dvh-6rem)] flex flex-col-reverse lg:flex-row justify-start gap-6 lg:justify-between items-center bg-white dark:bg-dark relative ">

    <article class="max-w-lg space-y-6">
        <p class="font-bold italic">
            Hola, soy Eduardo Castilla
        </p>
        <h1 class="text-3xl lg:text-5xl w-12 font-bold text-primary dark:text-white mb-4" >
            Desarrollador Web
        </h1>
        <p class="font-light">
            Apasionado por la tecnología y el diseño, creo soluciones digitales que
            combinan simplicidad, innovación y rendimiento. Mi objetivo es transformar
            ideas complejas en experiencias funcionales.
        </p>
        <div class="flex flex-wrap gap-6 items-start sm:items-center">
            <button class="bg-primary dark:bg-white text-white dark:text-primary" >
                <a href="https://eduardo-castilla-cv.netlify.app" target="_blank">Curriculum Vitae</a>
            </button>
            <Socials/>
        </div>
    </article>

    <article class="flex items-center justify-center">
        <img src="/assets/profile.webp" alt="Foto de Eduardo Castilla - DevCast" class="w-10/12 lg:w-[25rem]" />
    </article>
</section>
