<section class="lg:h-[calc(100dvh-6rem)] flex flex-col-reverse lg:flex-row justify-start gap-6 lg:justify-between items-center bg-white dark:bg-dark">

    <article class="max-w-lg space-y-6 px-8 lg:px-0">
        <p class="font-bold italic">
            Hola, soy Eduardo Castilla
        </p>
        <h1 class="text-3xl lg:text-5xl w-12 font-bold text-primary dark:text-white mb-4" >
            Desarrollador Web
        </h1>
        <p class="font-light">
            Apasionado por la tecnología y el diseño, creo soluciones digitales que
            combinan simplicidad, innovación y rendimiento. Mi objetivo es transformar
            ideas complejas en experiencias funcionales.
        </p>
        <button class="bg-primary dark:bg-white text-white dark:text-primary" >
            <a href="https://eduardo-castilla-cv.netlify.app" target="_blank">Curriculum Vitae</a>
        </button>
    </article>

    <article class="flex items-center justify-center">
        <img src="/assets/profile.webp" alt="Foto de Eduardo Castilla - DevCast" class="w-10/12 lg:w-[25rem]" />
    </article>
</section>
