---
import Card from '@/components/Card.astro';
---

<section class="bg-white dark:bg-dark flex flex-col gap-12 justify-center items-center">
    <span class="space-y-4 text-center">
        <h2 class="">Proyectos.</h2>
        <p>Aquí encontrarás una muestra de mi trabajo: proyectos donde he aplicado mis habilidades técnicas y creativas para resolver problemas reales.</p>
    </span>
    <div class="w-full flex justify-between">
        <Card/>
        <Card/>
    </div>
</section>