---
interface Logo {
  icon: string;
  label: string;
}

const { logos } = Astro.props as { logos: Logo[] };
const { title } = Astro.props;
const shouldAnimate = logos.length > 3;
const renderLogos = shouldAnimate ? logos.concat(logos) : logos;
---

<div class="flex w-full flex-col items-center gap-4">
  <h3 class="w-full !text-start">{title}</h3>
  <div class="py-4  overflow-x-auto h-30 max-w-content w-full">
    <div class={`flex gap-6  ${shouldAnimate ? "animate-slide" : ""}`}>
      {
        renderLogos.map((logo) => (
          <div class="flex-shrink-0 p-4 border border-gray-200 rounded-xl flex items-center justify-center relative group">
            <img
              src={logo.icon}
              alt={logo.label}
              class="size-8 object-contain"
            />
            
            <span class="absolute -bottom-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none p-2 text-xs text-white bg-primary dark:bg-white dark:text-primary rounded-lg whitespace-nowrap">
              {logo.label}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</div>
