---
	import "../styles/global.css";
	import "@fontsource-variable/inter";


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/iso_DevCast.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DevCast | Desarrollador y programador Web</title>
	</head>
	<body class="flex flex-col items-center bg-white dark:bg-dark scorll-smooth overflow-y-auto">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: 'Inter Variable', sans-serif;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>
